// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$dsw: url('/assets/fonts/FuturePT-Bold.woff');
.top-nav {
    img {
        max-width: 75px;
    }
}
.option {
    img {
        max-width: 75px;
    }
}
body {
    font-family: $dsw;
    background-color: blue;
}